# See GitHub documentation:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
*       @lenucksi @NewMexicoKid @cewilliams @spier @robtuley @yuhattor

# These people ar familiar with the translation of our patterns to a specific language:
/translation/ja/    @yuhattor
/book/ja/           @yuhattor
/translation/zh/    @WillemJiang
/book/zh/           @WillemJiang
/translation/pt/    @jrcosta @zilio
/book/pt/           @jrcosta @zilio
/pattern-categorization/pt-br/    @jrcosta @zilio
/translation/gl/    @psanxiao
/book/gl/           @psanxiao
/pattern-categorization/gl/  @psanxiao
/translation/es/    @ovas04
/book/es/           @ovas04
/pattern-categorization/es/  @ovas04
