name: Spelling & Styles
permissions:
  contents: read

on:
  push:
    branches:
    - main
    paths:
    - '**.md'
  pull_request:
    branches:
    - main
  workflow_dispatch:
  schedule:
    - cron: '3 2 1 * *'

jobs:
  vale:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Vale Linting
      uses: errata-ai/vale-action@v2
      with:
        files: '["patterns/2-structured/", "patterns/3-validated/"]'
        vale_flags: "--glob=*.md"
        filter_mode: added
        debug: true
